<h1>Hello from index.hbs</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, velit ut? Nostrum sequi iure nulla quo neque illum minus reiciendis nobis atque! Cumque corporis magni, reprehenderit consectetur esse quae sunt minima velit excepturi praesentium, illum iure suscipit, obcaecati quos beatae.</p>